{% extends 'base.html' %}
{% load fiber_tags thumbnail %}

{% block article %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
	<div id="map_canvas" style="height:300px; weight:100%;"></div>
	{% for tournament in tournaments %}
	{% with tournament_url=tournament.get_absolute_url %}
	<div class="tournament">
		<span class="thumb"><a href="{{tournament_url}}">{% thumbnail tournament.image "100x100" crop="center" as im %}<img src="{{im.url}}">{% endthumbnail %}</span>
		<span class="name"><a href="{{tournament_url}}">{{ tournament.name }}</a></span>
		<span class="date">{{ tournament.date }}</span>
		<span class="lat">{{ tournament.lat }}</span>
		<span class="lon">{{ tournament.lon }}</span>
	</div>
	{% endwith %}
	{% endfor %}	
	<script type="text/javascript">
	(function($) {
		function initMap() {
			var mapOpts = {
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById('map_canvas'), mapOpts);
			var bounds = new google.maps.LatLngBounds();

			$('.tournament').each(function(index){
				var latlon = new google.maps.LatLng(
					Number($(this).find('.lat').text()),
					Number($(this).find('.lat').text())
				);
				var marker = new google.maps.Marker({
					position: latlon,
					map: map,
					title: $(this).find('.name').text()
				});
				var infowindow = new google.maps.InfoWindow({
					content: $(this).html()
				});
				google.maps.event.addListener(marker, 'click', function() {
					infowindow.open(map, marker);
				});
				bounds.extend(latlon);
			});

			map.fitBounds(bounds);

		}
		initMap();
	})(jQuery)
	</script>


	{% show_page_content "main" %}
{% endblock article %}