{% extends 'base_aside_right.html' %}
{% load fiber_tags thumbnail %}

{% block title %}{{ tournament }} - The World Scholar's Cup{% endblock %}

{% block breadcrumbs %}
<nav id="breadcrumbs" class="clearfix">
	<ul>
		<li>
			<a href="{% url tournaments.views.view_year year=tournament.date.year %}">{{tournament.date.year}} Calendar</a>
		</li>
		<li>
			<a href="{{ tournament.get_absolute_url }}">{{tournament.name}}</a>
		</li>
	</ul>
</nav>
{% endblock %}

{% block article %}

	<h1>{{ tournament.name }}</h1>

	{% show_page_content "main" %}

{% endblock article %}


{% block aside-right %}
	<div class="tournament">
		<span class="thumb">{% thumbnail tournament.image "200x200" crop="center" as im %}<img src="{{im.url}}">{% endthumbnail %}</span>
		
		<span class="date"><small>Starts {{ tournament.date }}</small></span>
		<span class="lat hidden">{{ tournament.lat }}</span>
		<span class="lon hidden">{{ tournament.lon }}</span>

		<div id="map_canvas" style="height:200px; weight:100%;"></div>
	</div>

	{% show_page_content "aside_right" %}
{% endblock %}


{% block append_body %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript">
(function($) {
	function initMap() {
		var mapOpts = {
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById('map_canvas'), mapOpts);
		var bounds = new google.maps.LatLngBounds();

		$('.tournament').each(function(index){
			var latlon = new google.maps.LatLng(
				Number($(this).find('.lat').text()),
				Number($(this).find('.lon').text())
			);
			var marker = new google.maps.Marker({
				position: latlon,
				map: map,
				title: $(this).find('.name').text()
			});
			/*var infowindow = new google.maps.InfoWindow({
				content: $(this).html()
			});
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map, marker);
			});*/
			bounds.extend(latlon);
		});

		map.fitBounds(bounds);

	}
	initMap();
})(jQuery)
</script>

{% endblock %}
