{% extends 'base.html' %}
{% load fiber_tags thumbnail %}

{% block title %}{{ year }} Calendar - The World Scholar's Cup{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block article %} 
	<nav id="yearmenu" class="horizmenu">
		<ul>
			{% for y in years %}
			<li {% if year == y %}class="current"{% endif %}>
				<a href="{% url tournaments.views.view_year year=y %}">{{ y }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>

	<div id="map_canvas" style="height:300px; weight:100%;"></div>
	<div class="tournaments clearfix">
	{% for tournament in tournaments %}
		{% with tournament_url=tournament.get_absolute_url %}
		<div class="tournament">
			<div class="tournament_wrap">
				<span class="thumb"><a href="{{tournament_url}}">{% thumbnail tournament.image "100x100" crop="center" as im %}<img src="{{im.url}}">{% endthumbnail %}</a></span>
				<span class="name"><a href="{{tournament_url}}">{{ tournament.name }}</a></span>
				<span class="date"><small>{{ tournament.date }}</small></span>
				<span class="lat hidden">{{ tournament.lat }}</span>
				<span class="lon hidden">{{ tournament.lon }}</span>
			</div>
		</div>

		<style>
		</style>
		{% endwith %}
	{% endfor %}
	</div>	

	{% show_page_content "main" %}
{% endblock article %}

{% block append_body %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
(function($) {
	function initMap() {
		var mapOpts = {
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById('map_canvas'), mapOpts);
		var bounds = new google.maps.LatLngBounds();

		$('.tournament').each(function(index){
			var latlon = new google.maps.LatLng(
				Number($(this).find('.lat').text()),
				Number($(this).find('.lon').text())
			);
			var marker = new google.maps.Marker({
				position: latlon,
				map: map,
				title: $(this).find('.name').text()
			});
			var infowindow = new google.maps.InfoWindow({
				content: $(this).html()
			});
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map, marker);
			});
			bounds.extend(latlon);
		});

		map.fitBounds(bounds);

	}
	initMap();
})(jQuery)
</script>
{% endblock append_body %}