{% load fiber_tags %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ fiber_page.title }}{% if fiber_page.title != "The World Scholar's Cup" %} - The World Scholar's Cup{% endif %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
</head>
<body class="{% block body_class %}{{ fiber_page.title|slugify }}{% endblock %}">
	<div id="wpr-page">
		<div id="page">
			<header>
				<div id="logo"><a href="/">The World Scholar's Cup</a></div>
				<nav id="mainmenu" class="clearfix grad-red">
					{% show_menu "mainmenu" 1 3 "all" %}
				</nav>
			</header>
			<aside id="aside-left">
			{% block aside-left %}
				<nav id="submenu">
					{% show_menu "sidemenu" 1 3 "all" %}
				</nav>
				{% show_page_content "aside_left" %}
			{% endblock aside-left %}
			</aside>
			<section id="main">
			{% block main %}
				{% block breadcrumbs %}
				<nav id="breadcrumbs" class="clearfix">
					<ul>
						{% for fiber_page in fiber_current_pages %}
						<li>
							<a href="{{ fiber_page.get_absolute_url }}">{{ fiber_page.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				{% endblock breadcrumbs %}
				<article>
					{% block article %}
					{% show_page_content "main" %}
					{% endblock article %}
				</article>
			{% endblock main %}
			</section>
			<aside id="aside-right">
			{% block aside-right %}
			{% endblock aside-right %}
			</aside>
			<footer id="footer">
				&copy;{% now "Y" %} World Scholar's Cup <span>|</span> 1006 Wall St. <span>|</span> Los Angeles, CA 90015 <span>|</span> +1 866 336 4332 <span>|</span> +1 818 716 2820
			</footer>
		</div>
	</div>
{% block append_body %}{% endblock %}</body>
</html>